.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--background-color);
  padding: 40px 0;

  padding: 20px 40px;
}

.header {
  color: var(--text-color);
  margin: 0;
  font-family: "Almendra", serif !important;
  text-align: center;
  margin-bottom: 20px;
}

.formWrapper {
  padding: 40px;
  scroll-margin-top: 200px;
  margin: 0 20px 20px 20px;
  border-radius: 4px;
  background-color: var(--text-color);

  h2 {
    color: var(--background-color);
    font-family: "Almendra", serif !important;
    margin: 0;
    font-size: 36px !important;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
}
