.wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: center;

  h1,
  h2,
  p {
    margin: 0;
    width: 50vw;
  }
}
