.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-color);

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}

.section {
  padding: 40px;
  scroll-margin-top: 25px;
  margin: 20px auto;
  width: 70vw;
  border-radius: 4px;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.col {
    flex-direction: column;
  }

  h2 {
    // color: var(--inky-blue);
    color: var(--background-color);
    font-family: "Almendra", serif !important;
    margin: 0;
    font-size: 36px !important;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: capitalize !important;
  }
}

.papersWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--inky-blue);
}

h4 {
  margin: 0;
}

.docList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.visaFormButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--background-color) !important;
  padding: 4px 8px;
  border-radius: 6px;
  flex: 0 1 calc(33.333% - 2rem);
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px !important;
  color: var(--text-color) !important;
  font-family: "Almendra", serif !important;
  text-transform: capitalize !important;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px;

  &:hover {
    .stamp {
      fill: var(--inky-blue);
    }
    outline: none;
    text-decoration: underline;
    text-decoration-color: var(--inky-blue);
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 1px solid #000;
    .stamp {
      fill: var(--inky-blue);
    }
    text-decoration: underline;
    text-decoration-color: var(--inky-blue);
  }
}
