@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #011e4a;
  --primary-hover: #1a345c;
  --text-color: #f2f1e2;
  --text-color-contrast: #e5e8ec;

  --pamphlet-background: #d6d6ca;
  --background-color: #2f2b2c;
  --secondary-background-color: #eeeded;
  --inky-blue: #001ea5;
  // background-color: grey;
  //   background-position: center;
}

html {
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-family: "Almendra", serif;

  // This is only for the html coming in from PHP
  .login-button {
    color: var(--background-color) !important;
    padding: 4px 8px !important;
    border-radius: 4px !important;
    background-color: var(--text-color) !important;
    text-decoration: none !important;
    font-size: 18px !important;
  }

  .toggle-loggedin-menu {
    color: var(--background-color) !important;

    font-size: 18px !important;
    font-weight: 500 !important;
    background-color: var(--text-color) !important;

    border-radius: 4px !important;
    padding: 0 4px !important;

    &.active,
    &:hover,
    &:focus {
      text-decoration: underline !important;
      text-underline-offset: 4px !important;
      color: var(--background-color) !important;
    }
  }

  .login-button:hover {
    transition: 0.3s;
    background-color: var(--text-color-contrast) !important;
    border-bottom: none !important;
  }

  .loggedin-menu.dropdown-menu {
    border: none !important;
    box-shadow: none !important;
    font-family: sans-serif !important;
    background-color: var(--secondary-background-color) !important;
    color: var(--background-color) !important;
    border: 1px solid var(--text-color) !important;
    border-radius: 8px !important;

    left: -94% !important;

    li {
      a {
        color: var(--background-color) !important;
      }

      &.active,
      &:hover,
      &:focus {
        border-bottom: none !important;
      }
    }
  }

  body {
    .aft-light-mode #content {
      a:hover {
        border-bottom: none !important;
      }
    }
  }

  .loggedin-menu.dropdown-menu a {
    color: white !important;
  }
}

// for pay form

/* general form styling */

form fieldset {
  padding: 10px;
  border-radius: 8px;
  border-color: var(--background-color) !important;
  border-width: 1px;

  display: flex !important;
  flex-direction: column !important;
  align-items: baseline !important;

  position: relative !important;
}

// form fieldset span {
//   display: none;
// }

form fieldset label {
  display: inline-block !important;
  min-width: 200px !important;
  padding-right: 5px !important;
  text-align: left !important;
  margin-bottom: 8px !important;
}
form.remotePaymentForm img {
  vertical-align: bottom;
}

form fieldset input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

form fieldset button {
  background-color: var(--background-color) !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
  color: var(--text-color) !important;
  text-decoration: none !important;
  font-size: 18px !important;
  margin-bottom: 8px !important;
}

/* the element created after input by validation functionality */
.personName {
  display: inline-block;
  padding: 0 4px;
  font-style: italic;

  /*font-weight: bold;*/
  background: #ffffe0;
  border: 1px solid #f3f1b3;
}
.personName:empty {
  border: none;
}

/* rai payment forms are in iframes so need some basic styling */
form.remotePaymentForm.rai {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
form.remotePaymentForm.rai fieldset {
  border: none;
}
